<a href="https://colab.research.google.com/github/Sudo-Kusanagi/exam-python/blob/master/cyber_attack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
cyber_attack <- data.frame(
  City = c("Atlanta", "Austin", "Baltimore", "Boston", "Charlotte", "Chicago", "Cleveland", "Columbus",
           "Dallas", "Denver", "Detroit", "El Paso", "Fort Worth", "Houston", "Indianapolis",
           "Jacksonville", "Kansas City", "Las Vegas", "Los Angeles", "Louisville", "Memphis",
           "Miami", "Milwaukee", "Nashville", "New York", "Oklahoma City", "Philadelphia",
           "Phoenix", "San Antonio", "San Diego"),
  Attack_Type = sample(c("Ransomware", "Phishing", "DDoS", "SQL Injection", "Malware", "Man-in-the-Middle",
                         "Brute Force", "Zero-Day Exploit", "Privilege Escalation", "Spyware"), 30, replace = TRUE),
  Financial_Loss = sample(100000:1000000, 30, replace = TRUE),
  Company_Name = sample(c("TechCorp", "Vortico", "SecureLink", "NetWave", "Umbrella",
                          "TextileTwist", "SecureVault", "Gotham Bank", "InfoLock", "CloudArmor"), 30, replace = TRUE),
  Source_of_Attack = sample(c("External Hackers", "Insider Threat", "Nation-State", "Cybercriminal Group",
                              "Script Kiddies"), 30, replace = TRUE),
  Data_Breach = sample(1000:50000, 30, replace = TRUE)
)

colnames(cyber_attack) <- gsub("_", " ", colnames(cyber_attack))

head(cyber_attack)

  City      Attack Type   Financial Loss Company Name Source of Attack
1 Atlanta   Phishing      253731         TextileTwist External Hackers
2 Austin    SQL Injection 290626         Umbrella     External Hackers
3 Baltimore Spyware       207420         TechCorp     Script Kiddies
4 Boston    Ransomware    925827         Gotham Bank  External Hackers
5 Charlotte Spyware       326613         InfoLock     Script Kiddies
6 Chicago   Malware       444386         Umbrella     Cybercriminal Group
  Data Breach
1 29649
2  3472
3 11548
4 19936
5 44800
6 43983